<main class="main">

  <section class="container">
      <div class="row border-bottom  justify-content-center pb-3 main-artista ">
          <img class="col-2 col-sm-2  rounded-circle logo-artista" src="/assets/img/logo-artista-tb2.webp" alt="Artista">
          <h3 class="col-8 col-sm-9 titulo-artista align-self-center fw-bold p-0 m-0">{{artista.nome}}
          </h3>

          <fa-icon class="col-1 col-sm-1 " [icon]="faCofaEllipsisVertical"></fa-icon>

       </div>
  </section>
  <section class="lista-de-musicas">
      <div class="card card-sem-bordas-branco ">
          <div class="card-header card-sem-bordas-branco">
              <h5 class="font-titulo-musica  m-0"> Musicas</h5>
          </div>

          <app-lista-musicas [artista]="artista" ></app-lista-musicas>

      </div>
  </section>


</main>
