<main class="main">

  <section class="container border-bottom ">
    <div class="row justify-content-center align-items-center pb-3 main-artista ">
      <img class="col-4 col-sm-2  rounded-circle logo-artista poiner" routerLink="/artistas/artista/{{artista.idArtista}}" src="/assets/img/logo-artista-tb2.webp" alt="Artista">
      <div class="col-8 col-sm-9 align-self-center fw-bold p-0 m-0">
        <div class="row m-0">
          <span class="titulo-artista pointer "  routerLink="/artistas/artista/{{artista.idArtista}}" >{{artista.nome}}</span>
        </div>
        <div class="row m-0">
          <h5 class="ml-2">{{musica.nome}}</h5>
        </div>

      </div>

    </div>

  </section>
  <section class="lista-de-musicas">
    <div class="card card-sem-bordas-branco ">



      <div class="card-body">
        <div class="col-12" [innerHTML]="musica.letras">
        </div>
      </div>


    </div>

  </section>





</main>
