.font-navbar {
  font-family: "Fredoka One", cursive;
  color: white;
  font-size: 1.6em;
  margin: 0;
  padding: 0;
}
.nav-item {
  font-family: "Fredoka One", cursive;
  color: rgb(118 112 112);
}
.header {
  height: 54px;
}

.nav-open {
  width: 12rem;
  min-height: 100vh;
  background: white;
}

.collapsing {
  height: 100vh !important;
}
.collapse:not(.show) {
  left: -100vw;
  transition: 0.5s;
}
.show {
  left: 0;
  transition: 0.5s;
}

.navbar-dark .navbar-toggler {
  border: none;
}

.button-split {
  max-width: 3rem;
}

.search-tamanho {
  justify-content: center;
}

.bg-menu {
  background-color: #c2c800;
}

.input-search {
  max-width: 570px;
  max-height: 24vh;
  border-radius: 0.8rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.button-split {
  max-width: 100%;
  padding: 0;
  text-align: end;
}

@media screen and (max-width: 575px) {
  .font-navbar {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  .font-navbar {
    font-size: 1em;
  }
}

@media screen and (min-width: 768px) {
  .font-navbar {
    font-size: 1.5em;
  }

  .main {
    padding: 19px 110px;
    max-height: 34px;
  }
  .nav-home {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .bg-menu {
    justify-content: space-around;
  }
  .nav-home {
    display: none;
  }
}
