<div *ngIf="!parte.tipo">
  <div class="input-group mb-3" *ngIf="!parte.tipo">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01"
        >Artista</label
      >
    </div>
    <select class="custom-select" id="inputGroupSelect01"  (change)="buscarMusicas($event.target)">
      <option selected>Selecione o Artista</option>
      <option *ngFor="let artista of artistas" value= {{artista.idArtista}}> {{artista.nome}} </option>n>
    </select>
  </div>

  <label>Pesquisa musica</label>
  <input type="text" class="form-control" placeholder="Ex. Desperta"  name="termo"  [(ngModel)]="termo" (blur)="limpar()" >
  <select class="custom-select list-group list-group-flush" size="6" class="form-control" [(ngModel)]="selecionada">
     <option
      *ngFor="let musica of musicas |  pesquisa: termo ; let i = index"
       class="col-12 list-group-item-action"
       [value]="musica.idMusica"
      (click)="enviarInformacao(musica)"
    >
       {{ musica.nome }}
    </option>
  </select>
</div>
