<section class="container">
  <div class="list-group list-group-flush row">
    <div
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="row row justify-content-around">
        <img
          routerLink="/artistas/artista/1"
          class="col-2 col-sm-2 logo-artista rounded-circle"
          src="{{ artista.imagem || '/assets/img/perfil_defaut.jpg' }}"
          alt="Artista"
        />
        <h3
          routerLink="/artistas/artista/1"
          class="col-6 col-sm-8 font-titulo-artistas align-self-center fw-bold p-0 m-0"
        >
          {{ artista.nome }}
        </h3>
        <div class="col-2 d-flex justify-content-around">
          <fa-icon
            data-toggle="modal"
            data-target="#exampleModal"
            [icon]="faPencil"
          ></fa-icon>
          <fa-icon
            [icon]="faTrash"
            data-toggle="modal"
            data-target="#confirmModal"
          ></fa-icon>
        </div>
      </div>
    </div>
  </div>
</section>
<app-modal-confirmacao (confirmacao)="deleteArtista(artista.idArtista)"></app-modal-confirmacao>
