.logo-artista {
  max-width: 5em;
  max-height: 3em;
}

.main-artistas {
  padding: 30px;
}

.font-titulo-artistas {
  align-self: center;
  font-size: 16px;
  font-family: "Merriweather Sans", sans-serif;
}
.container {
  max-width: 100%;
}
fa-icon {
  padding: 4px;
}
