<main class="main" >

  <section class=" container">
      <h1 class="text-center font-titulo cor-especial pt-3">O que é Missa slider</h1>
      <figure>
          <img class="imagem-banner" src="/assets/img/banner-missa-slide.jpg" alt="">
      </figure>
      <p class=" text-secondary m-4 pb-5  ">
          Esta aplicação naseceu da necessidade de criar slides para Santa missa, de maneira rápida e simples.
        <br>
          Então criei um <a  routerLink="/gerador">gerador</a>  onde você seleciona as musicas de acordo com cada parte da missa
        <br>
          Caso não encontre a musica desejada você pode cadastra-la no menu <a  routerLink="/artistas">Artistas</a> onde haverá uma lista com alguns artista,
          Se o artista Não existir, poderá ser adcionado.
        <br>
           Além de poder gerar um slide para a santa missa, a aplicação também permite que possa ter em suas mãos as letras dos principais artistas católico.
        <br>
      </p>
  </section>

</main>
