<main class="main">
  <section class="container">
    <div class="row border-bottom justify-content-center main-artista ">

        <fa-icon class="col-4 col-sm-3 col-md-2 col-lg-1 col-xl-1 icone-artista fa-2xl  " [icon]="faCofaEllipsisVertical"></fa-icon>
        <h3 class="col-8 col-sm-9 col-md-10 col-lg-11 col-xl-11   titulo-artista align-self-center fw-bold p-0 m-0">Artistas
        </h3>

     </div>
</section>
<section class="lista-de-artistas">
        <app-lista-artistas *ngFor="let artista of artistas" [artista]="artista"></app-lista-artistas>
</section>
</main>
