<main class="main">
  <section class="container">
    <h5 class="font-titulo mt-5 cor-especial "> Resultado para <strong>{{termo}}</strong></h5>

    <div class="list-group list-group-flush row" >
        <div class="justify-content-center">
        <div class="card m-1" >
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          </div>
        </div>

        <div class="card m-1" >
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          </div>
        </div>
        <div class="card m-1" >
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          </div>
        </div>
       </div>
      </div>

   </section>

</main>
