<section class="container">
  <div class="list-group list-group-flush row">
    <div
      class="list-group-item list-group-item-action flex-column align-items-start"
      *ngFor="let musica of musicas; let i = index"
    >
      <div  routerLink="/artistas/artista/{{musica?.artista?.idArtista}}/musicas/{{musica?.idMusica}}" class="row justify-content-center">
        <p class="col-1">{{ i + 1 }}</p>
        <p  class="col-9 pointer">
          {{ musica.nome }}
        </p>
        <div class="col-2 d-flex justify-content-around">
          <fa-icon
            data-toggle="modal"
            data-target="#exampleModal"
            [icon]="faPencil"
            (click)="editar(musica)"
          ></fa-icon>
          <fa-icon
            [icon]="faTrash"
            data-toggle="modal"
            data-target="#confirmModal"
            (click)="deleteMusica(musica.idMusica)"
          ></fa-icon>
        </div>
      </div>
    </div>
  </div>
</section>

<app-modal-confirmacao (confirmacao)="confirmarDelete()"></app-modal-confirmacao>
