<main class="main">
  <section class="container">
    <h5 class="font-titulo mt-0 cor-especial">
      Selecione as músicas para cada partes da missa
    </h5>

    <div class="accordion list-group list-group-flush" id="accordionExample">
      <div
        class="list-group-item steps list-group-item-action flex-column align-items-start"
        *ngFor="let parte of partesMissa; let indexOrdenador= index"
      >
       <div id="headingOne">
          <h2 class="mb-0">
            <button
            class="btn btn-dark btn-block text-left"
            type="button"
            data-toggle="collapse"
            [attr.data-target]="'#parte'+ indexOrdenador"
            aria-expanded="false"
            aria-controls="collapseOne"
            >
              {{parte.nome}}
            </button>
          </h2>
        </div>
         <div
          id="parte{{indexOrdenador}}"
          class="collapse"
          aria-labelledby="headingOne"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01"
                  >Artista</label
                >
              </div>
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>Colo de Deus...</option>
                <option value="1">Padre</option>
                <option value="2">Shalom</option>
                <option value="3">Canção</option>
              </select>
            </div>

            <form >

            <label>Pesquisa musica</label>
            <input type="text" class="form-control" placeholder="Ex. Desperta"  name="termo"  [(ngModel)]="termo" (blur)="limpar()" >
            </form>
            <select class="custom-select" size="6">

               <option
                *ngFor="let musica of musicas |  pesquisa: termo ; let i = index"
                class="col-12"
                (click)="enviarInformacao(musica.nome, indexOrdenador )"
              >
                {{ musica.nome }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div
        class="list-group-item steps list-group-item-action flex-column align-items-start"
      >
        <div id="headingOne1">
          <h2 class="mb-0">
            <button
              class="btn btn-dark btn-block text-left"
              type="button"
              data-toggle="collapse"
              data-target="#gerar"
              aria-expanded="false"
              aria-controls="collapseOne"
            >
              Finalizar
            </button>
          </h2>
        </div>

        <div
          id="gerar"
          class="collapse"
          aria-labelledby="headingOne"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            <div class="input-group mb-3">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01"
                    >Tamanho da fonte</label
                  >
                </div>
                <select class="custom-select" id="inputGroupSelect01"  [(ngModel)]="fontSize" (change)="selecionarTamanhoDaFonte($event.target)">
                   <option *ngFor="let tamanho of tamanhosFontes" value= {{tamanho}}> {{tamanho}} </option>n>

                </select>
              </div>
              <button type="button" (click)="imprimir()" class="btn btn-ms-primary btn-lg btn-block">
                Gerar slides
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
