<main class="main">
  <section class="container">
    <h5 class="font-titulo mt-0 cor-especial">
      Selecione as músicas para cada partes da missa
    </h5>

    <div class="accordion list-group list-group-flush" id="accordionExample">
      <div
        class="list-group-item steps list-group-item-action flex-column align-items-start"
        *ngFor="let parte of partesMissa; let indexOrdenador= index"
      >
       <div id="headingOne">
          <h2 class="mb-0">
            <button
            class="btn btn-dark btn-block text-left"
            type="button"
            data-toggle="collapse"
            [attr.data-target]="'#parte'+ indexOrdenador"
            aria-expanded="false"
            aria-controls="collapseOne"
            (click)="limparMusicas(indexOrdenador)"
            >
              {{parte.nome}}
            </button>
          </h2>
        </div>
         <div

          id="parte{{indexOrdenador}}"
          class="collapse"
          aria-labelledby="headingOne"
          data-parent="#accordionExample"
        >
          <div class="card-body" >
            <div *ngIf="!parte.tipo">
            <div class="input-group mb-3" *ngIf="!parte.tipo">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01"
                  >Artista</label
                >
              </div>
              <select class="custom-select" id="inputGroupSelect01"  (change)="buscarMusicas($event.target)">
                <option selected>Selecione o Artista</option>
                <option *ngFor="let artista of artistas" value= {{artista.idArtista}}> {{artista.nome}} </option>n>
              </select>
            </div>

            <label>Pesquisa musica</label>
            <input type="text" class="form-control" placeholder="Ex. Desperta"  name="termo"  [(ngModel)]="termo" (blur)="limpar()" >
            <select class="custom-select list-group list-group-flush" size="6">
               <option
                *ngFor="let musica of musicas |  pesquisa: termo ; let i = index"
                class="col-12 list-group-item"
                (click)="enviarInformacao(musica, indexOrdenador )"
              >
                {{ musica.nome }}
              </option>
            </select>
          </div>
          <div *ngIf="parte.tipo === 'salmo'" >
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Digite o salmo do dia</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="salmo" (change)="receberInformacaoDoSalmo(salmo,3)" ></textarea>
            </div>
          </div>

          <div *ngIf="parte.tipo === 'oracao'">
            <div class="form-group">
               <select class="custom-select" id="inputGroupSelect01"  (change)="selectOracao($event.target)">
                <option selected>Selecione a oração eucaristica</option>
                <option *ngFor="let oracao of oracoes" value= {{oracao.idOracaoEucaristica}}> {{oracao.nomeOrcacao}} </option>n>
              </select>
             </div>
          </div>

          </div>

        </div>
      </div>
      <div
        class="list-group-item steps list-group-item-action flex-column align-items-start"
      >
        <div id="headingOne1">
          <h2 class="mb-0">
            <button
              class="btn btn-dark btn-block text-left"
              type="button"
              data-toggle="collapse"
              data-target="#gerar"
              aria-expanded="false"
              aria-controls="collapseOne"
            >
              Finalizar
            </button>
          </h2>
        </div>

        <div
          id="gerar"
          class="collapse"
          aria-labelledby="headingOne"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            <div class="input-group mb-3">
              <div class="input-group mb-3 " *ngIf="podeMudarFonte">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01"
                    >Tamanho da fonte</label
                  >
                </div>
                <select class="custom-select" id="inputGroupSelect01"  [(ngModel)]="fontSize" (change)="selecionarTamanhoDaFonte($event.target)">
                   <option *ngFor="let tamanho of tamanhosFontes" value= {{tamanho}}> {{tamanho}} </option>n>

                </select>
              </div>
              <button type="button" (click)="imprimir()" class="btn btn-ms-primary btn-lg btn-block">
                Gerar slides
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
